<%- include("header") -%>

<h2>This is the about page </h2>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem earum officiis repudiandae vel perferendis alias totam consequatur labore quibusdam facilis, nostrum aspernatur quo suscipit architecto natus dolor consectetur, ex eligendi? </p>
<%- include("footer") -%>